@{
    ViewData["Title"] = "Cart";
    var cart = ViewData["Cart"] as FlightSharpWebSite.Models.Cart;
}

<h1>Contents of Shopping Cart</h1>

<table class="table">
    <thead>
    <tr>
        <th>Flight</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in cart.Tickets)
    {
        <tr data-json="@System.Text.Json.JsonSerializer.Serialize(item)" data-expire="@item.Flight.ExpirationDate">
            <td>
                <div style="display: flex; flex-direction: column;">
                    <h5> @item.Flight.Origin - @item.Flight.Destination</h5>
                    <span>Departure: <strong>@Html.DisplayFor(m => item.Flight.Departure)</strong></span>
                    <span>Return: <strong>@Html.DisplayFor(m => item.Flight.Return)</strong></span>
                    <span>@item.Flight.AirLine</span>
                </div>
            </td>
            <td>@item.Flight.Price @item.Flight.Currency</td>
            <td class="item-amount">@item.Quantity</td>
            <td>
                <button class="minus btn btn-primary">-</button>
                <button class="plus btn btn-primary">+</button>
                <input class="del btn btn-outline-danger" type="button" value="X"/>
            </td>
        </tr>
    }
    <tr></tr>
    </tbody>
</table>

@section scripts {
    <script src="~/js/cart.js" defer></script>
}